* { /* Permet une initialisation de tous les composants pour enlever la marge par defaut */
    margin: 0;
    padding: 0;
}
@media screen and (orientation: portrait) {
    .question {
        position: fixed;
        height: 48%;
        left: 3%;
        right: 3%;
        top: 1%;
    }
    .reponses {
        position: fixed;
        height: 48%;
        left: 3%;
        right: 3%;
        bottom: 1%;
    }
}
@media screen and (orientation: landscape) {
    .question {
        position: fixed;
        height: 100%;
        width: 50%;

    }
    .reponses {
        position: fixed;
        height: 50%;
        width: 50%;
        left: 50%;
        top: 37.5%;

    }
}
.texte {
    position: relative;
    height: 25%;
    overflow: auto;
    border-style: solid;
    border-color:red;
}
.photo {
    background-image: url("../img/img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 75%;
    width: 100%;
    background-position: center;
    border-style: solid;
    border-color: red green blue pink;

}
.boutton {
    position: relative;
    width: 50%;
    height: 25%;
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #00aeff);
    background-image: -moz-linear-gradient(top, #000000, #00aeff);
    background-image: -ms-linear-gradient(top, #000000, #00aeff);
    background-image: -o-linear-gradient(top, #000000, #00aeff);
    background-image: linear-gradient(to bottom, #000000, #00aeff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
}
.boutton:hover { /* Lorsque le bouton est appuye */
    background: #21BCFF;
}